.manager > div:last-child
{
	margin-top: 24px;
}

.manager > div:last-child > button
{
	padding-left: 8px; 
	padding-right: 8px;
	padding-top: 3px; 
	padding-bottom: 3px;
}

.manager > div:last-child > :not(:last-child)
{
	margin-right: 12px;
}

