.footer
{
  background-color: #281838;

  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  
  width: 100%;
  min-height: 5rem;

  border: 0;
  border-top: 1px;
  border-style: solid;
  border-top-color: #685878;

  display: flex;
  flex-direction: row;
}

.footer div
{
  flex-grow: 1;

  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;

  border-radius: 8px;
  border-color: #FF7F50;
  border-style: solid;

  display: flex;
  flex-direction: row;
}

.footer span, .footer a
{
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.4em;

  margin-top: auto;
  margin-bottom: auto;
}

.footer a
{
  margin-left: 0.75rem;
  margin-right: auto;
  outline: none;
}

.footer a:hover
{
  color: #A0A0A0;
}

.footer span
{
  margin-left: auto;
  margin-right: 0.75rem;
}